@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%; /* 1 rem == 10 px*/
}

.month_header {
  position: fixed;
  width: 80vw;
  height: 20vh;
  z-index: -1;
  background-color: rgb(176, 158, 247);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  left: 20vw;
  padding: 0 2rem;
  color: white;
  text-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.4);
  margin: 0;
}

.month_header_closed {
  left: 60px;
  width: calc(100% - 60px);
}

.month_header i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month_header h2 {
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 1rem;
}

.month_header p {
  font-size: 1.5rem;
}

/*-------------Sidebar---------------*/

.side_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: fixed;
  width: 20vw;
  height: 100%;
  padding: 20px;
  background-color: rgb(98, 64, 233);
  color: white;
  font-weight: 900;
  font-size: 1.2em;
}

.side_header_closed {
  width: 60px;
}

.side_header__title {
  display: block;
}

.side_header__title_closed {
  display: none;
}


.add_event_p {
  display: block;
}

.add_event_p_closed {
  display: none;
}

.side_header__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 30px 0;
}

.side_header__top .hamburger {
  cursor: pointer;
}

.side_header .btn {
  padding: 5px 15px;
  margin: 20px 0;
  border-radius: 10px;
  border: none;
  height: 40px;
  color: rgb(98, 64, 233);
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.side_header__toggle {
  cursor: pointer;
  margin-left: 5px;
}

.side_header__toggle_closed {
  margin: 0 auto;
}

.side_header .btn {
  padding: 5px 15px;
  margin: 20px 0;
  border-radius: 50px;
  border: none;
  height: 40px;
  color: rgb(98, 64, 233);
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.side_header .btn p {
  margin-left: 8px;
}

/*----------End of sidebar-----------*/


/*-----Modal Container Styles-----*/

#close_modal_btn {
  cursor: pointer;
  padding: 5px 15px;
}

#modal_background {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(98, 64, 233, 0.489);
}

.modal_container {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 10px;
  width: 40%;
  left: 30%;
  z-index: 1;
}

.modal_header {
  color: rgb(134, 104, 251);
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px 5px;
  margin: 10px 0 0;
  border-radius: 20px 20px 0 0;
}

.modal_body {
  background-color: white;
  border-radius: 0 0 20px 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

#modal_body form {
  width: 80%;
}

/*---End of modal container styles---*/


/*---------Event form styles----------*/
.form_group {
  padding: 10px 0;
}

.form_label {
  display: flex;
  font-size: 1.5em;
  flex-direction: column;
  padding: 0 10px;
}

.form_field {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  border: 2px solid rgb(189, 189, 189);
  padding: 10px 5px;
}

.form_checkbox {
  height: 25px;
  width: 25px;
  margin: 0 10px 0 0;
  justify-content: center;
}

.form_field:hover,
.form_field:focus {
  border: 2px solid rgb(98, 64, 233);
}

.form_textarea {
  resize: none;
  margin: 10px 0;
  border: 2px solid rgb(189, 189, 189);
  padding: 10px;
  font-size: 0.8em;
  font-weight: 300;
  height: 70px;
}

.form_btn_container {
  display: flex;
  justify-content: space-around;
}

.date_time_input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date_input {
width: 65%;
}

.time_input {
width: 30%;
}

.event_form_btn {
  background-color: rgb(98, 64, 233);
  color: white;
  padding: 10px 20px;
  margin: 60px 10px 20px;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100px;
}

/*------End of event form styles------*/

/* Main area */

.main {
    position: fixed;
    left: 20vw;
    width: 80vw;
    top: 20vh;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.main_closed {
  left: 60px;
  width: calc(100% - 60px);
}

.calendar_container {
  width: 100%;
  color: #222227;
  margin-top: 1rem;
}

.calendar_container_closed {
  margin-left: 7vw;
}

.calendar_container__div-days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.calendar_container__div-days div {
  font-size: 1.2rem;
  margin: 0.3rem;
  width: calc(74vw / 7);
  height: 5.2vw;
  display: flex;
  flex-direction: column;
  border: 1px solid;
}

.btn_day {
  border: none;
  cursor: pointer;
  outline: none;
  margin: 0.5rem;
  padding: 0;
  width: auto;
  background: white;
  text-align: center;
  text-decoration: none;
  align-self: flex-end;
  font-size: 0.8rem;
  /* display: none; */
  color: rgb(98, 64, 233);
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.day-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-month p {
  display: flex;
  justify-content: center;
}

.uncovered {
  display: block;
}

.calendar_container__div-days div:hover:not(.today):not(.day-name) {
  color: white;
  background-color: rgb(98, 64, 233);
  border: 0.2rem solid rgb(189, 183, 183);
  cursor: pointer;
}

.calendar_container__div-days div button:hover {
  display: block;
}

.day-name {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1rem;
  padding-bottom: 1rem;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: rgb(176, 158, 247);
}


@media (max-width: 1000px) {
  .modal_container {
    width: 60%;
    left: 20%;
  }

  .modal_body form {
    width: 90%;
  }
}

@media (max-width: 850px) {
  .side_header {
    width: 60px;
    padding: 20px;
  }

  .month_header {
    left: 60px;
    width: calc(100% - 60px);
  }

  .month_header h2{
    font-size: 1.5rem;
  }

  .month_header p{
    font-size: 1rem;
  }

  .month_header i {
    font-size: 1.5rem;
  }

  .main {
    left: 60px;
    width: calc(100% - 60px);
  }

  .main_closed {
    left: 60px;
    width: calc(100% - 60px);
  }

  .side_header__title {
    display: none;
  }

  .side_header .btn p {
    display: none;
  }

  .side_header__toggle {
    cursor: pointer;
    margin: 0 auto;
  }

  .calendar_container_closed {
    margin-left: 0;
  }

  .calendar_container__div-days{
    margin-top: 2.5rem;
  }

  .calendar_container__div-days div {
    font-size: 1rem;
    width: calc(78vw / 7);
    height: 5.2vw;
  }

  .calendar_container__div-days div i{
    left: 1.6rem;
    bottom: 0.4rem;
    font-size: 0.7rem;
  }

  .modal_container {
    width: 70%;
    left: 15%;
  }
}

@media (max-width: 500px) {
  .month_header h2{
    font-size: 1rem;
  }

  .month_header p{
    font-size: 0.8rem;
  }

  .month_header i {
    font-size: 1rem;
  }

  .calendar_container__div-days{
    margin-top: 3rem;
  }

  .calendar_container__div-days div {
    font-size: 0.9rem;
    width: calc(68vw / 7);
    height: 5.2vw;
  }

  .calendar_container__div-days div i{
    left: 0.7rem;
    bottom: 0.2rem;
    font-size: 0.5rem;
  }
}

@media (max-width: 500px){
  .modal_container {
    width: 90%;
    left: 5%;
  }
}

@media (max-width: 350px) {
  .month_header h2{
    font-size: 0.8rem;
  }

  .month_header p{
    font-size: 0.65rem;
  }

  .month_header i {
    font-size: 0.8rem;
  }

  .calendar_container__div-days div {
    font-size: 0.7rem;
    width: calc(60vw / 7);
    height: 5.2vw;
  }

  .calendar_container__div-days div i{
    left: 0.3rem;
    bottom: 0.2rem;
    font-size: 0.4rem;
  }
}
